/* common shared styles  */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
  border: none;
}
.btn-primary:hover {
  background-color: red;
}
/* header section  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}
nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.logo {
  color: #131313;
  font-size: 4vw;
  font-weight: 700;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 5px 20px;
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
}

.banner-text {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}
.banner-heading {
  color: #131313;
  font-size: 8vw;
  font-weight: 700;
  margin-bottom: 15px;
}
.banner-description {
  color: #727272;
  margin-bottom: 30px;
}
.banner-img {
  width: 100vw;
}
.banner > img {
  width: 100%;
}
/* main section  */
main {
  max-width: 1440px;
  margin: 50px auto;
}

/* team section  */

.team-container {
  display: flex;
  align-items: center;
  gap: 75px;
  padding: 50px 100px;
}
.team-grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-heading {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.gray-text {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.highlight-text {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}

/* feature section  */
.feature-container {
  display: flex;
  padding: 0 100px;
  gap: 100px;
}
.feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 20px;
}
.feature-heading {
  color: #131313;
  font-size: 2.3rem;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: 5px solid rgba(255, 144, 14, 1);
}

.feature-img img {
    height: 90%;
    margin-left: 90px;
}
.experience-btn {
  color: #fff;
  border-radius: 8px;
  background-color: rgba(255, 144, 14, 1);
  width: 280px;
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.experience-btn h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}
.experience-btn p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

/* responsive media queries  */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  nav > ul {
    flex-wrap: nowrap;
  }
  .banner-heading {
    margin-top: 30px;
  }
  /* main {
    margin: 0;
  } */
  .team-container {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .team-grid-img {
    grid-template-columns: 1fr;
  }
  .feature-container {
    flex-direction: column;
    padding: 20px;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .experience-btn {
    position: static;
    width: 90%;
    margin-top: 20px ;
  }
}
